<p *ngIf="status">
  P1 : Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate nulla quod quam tenetur corporis ex odio! Minima tempora accusantium, omnis ut adipisci illum libero exercitationem, itaque eius tenetur recusandae architecto.
</p>
<p *ngIf="!status">
  P2 : Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, ducimus soluta? Repudiandae dolor ut distinctio perspiciatis aspernatur nisi unde! Commodi iste nostrum fuga aut? Sequi tenetur fugit nostrum perspiciatis maiores?
</p>

<button class="btn btn-primary" (click)="changeStatus()">Change status</button>
